version: '3.9'

services:
  web:
    image: httpd:2.4
    container_name: web-apache
    volumes:
      - ./public-html:/usr/local/apache2/htdocs
    ports:
      - "8083:80"
    depends_on:
      - mysql
    networks:
      - httpd_php_network

  mysql:
    image: arm64v8/mysql:8.0
    container_name: nextcloud-mysql
    environment:
      MYSQL_ROOT_PASSWORD: httpd_php_password
      MYSQL_DATABASE: httpd_php_db
      MYSQL_USER: httpd_php_user
      MYSQL_PASSWORD: httpd_php_password
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - "3309:3306"
    restart: unless-stopped
    networks:
      - httpd_php_network

  phpmyadmin:
    image: arm64v8/phpmyadmin
    container_name: phpmyadmin
    restart: always
    depends_on:
      - mysql
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: httpd_php_password
    networks:
      - httpd_php_network

networks:
  httpd_php_network:
    driver: bridge
